# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
playwright-report/
test-results/
.playwright/

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.*
env (*
backend/env*
web-admin/env*
web-client/env*
backend/.env.*
web-admin/.env.*
web-client/.env.*

# Vercel
.vercel

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
Thumbs.db

.understand-anything